*.bin
.vs/ProjectEvaluation/sso.metadata.v9.bin
.vs/ProjectEvaluation/sso.projects.v9.bin
.vs/ProjectEvaluation/sso.strings.v9.bin
.vs/SSO/CopilotIndices/17.14.878.3237/CodeChunks.db
.vs/SSO/CopilotIndices/17.14.878.3237/CodeChunks.db-shm
.vs/SSO/CopilotIndices/17.14.878.3237/CodeChunks.db-wal
.vs/SSO/CopilotIndices/17.14.878.3237/SemanticSymbols.db
.vs/SSO/CopilotIndices/17.14.878.3237/SemanticSymbols.db-shm
.vs/SSO/CopilotIndices/17.14.878.3237/SemanticSymbols.db-wal
.vs/SSO/FileContentIndex/8974b2b8-c422-4b39-83d0-016dc123b812.vsidx
.vs/SSO/FileContentIndex/8bf16f45-75b8-45e2-b2c4-ad38be678ebf.vsidx
.vs/SSO/FileContentIndex/fc06cdff-e68b-4a96-b001-4d42459a902a.vsidx
.vs/SSO/v17/.suo
ClassLibrary1/obj/ClassLibrary1.csproj.nuget.dgspec.json
ClassLibrary1/obj/ClassLibrary1.csproj.nuget.g.props
ClassLibrary1/obj/Debug/net8.0/ClassLibrary1.AssemblyInfo.cs
ClassLibrary1/obj/Debug/net8.0/ClassLibrary1.AssemblyInfoInputs.cache
ClassLibrary1/obj/Debug/net8.0/ClassLibrary1.assets.cache
ClassLibrary1/obj/Debug/net8.0/ClassLibrary1.GeneratedMSBuildEditorConfig.editorconfig
ClassLibrary1/obj/project.assets.json
ClassLibrary1/obj/project.nuget.cache
SSO/obj/Debug/net7.0/rpswa.dswa.cache.json
SSO/obj/Debug/net7.0/SSO.AssemblyInfo.cs
SSO/obj/Debug/net7.0/SSO.AssemblyInfoInputs.cache
SSO/obj/Debug/net7.0/SSO.assets.cache
SSO/obj/Debug/net7.0/SSO.csproj.AssemblyReference.cache
SSO/obj/Debug/net7.0/SSO.GeneratedMSBuildEditorConfig.editorconfig
SSO/obj/project.assets.json
SSO/obj/project.nuget.cache
SSO/obj/SSO.csproj.nuget.dgspec.json
SSO/obj/SSO.csproj.nuget.g.props
